<h1>Children & Assistants Levels</h1>
<div class="sample">
    <org-diagram 
        [items]="items"
        [annotations]="annotations"
        [pageFitMode]=PageFitMode.FitToPage
        [cursorItem]=0
        [highlightItem]=0
        [normalLevelShift]=20
        [dotLevelShift]=10
        [lineLevelShift]=10
        [normalItemsInterval]=20
        [dotItemsInterval]=10
        [lineItemsInterval]=5
        [buttonsPanelSize]=48
        [itemTitleSecondFontColor]="'#FFFFFF'"
        [leavesPlacementType]=ChildrenPlacementType.Matrix
        [arrowsDirection]=GroupByType.Children
        [hasSelectorCheckbox]=Enabled.True
        [centerOnCursor]=true>
    </org-diagram>
</div>