<h1>On-screen Connector Annotation</h1>
<p>
    <span>Set connector annotation placement type:&nbsp;</span>
    <mat-radio-group name="connectorPlacementType" [(ngModel)]="connectorPlacementType" (change)="onChange($event)" aria-label="Select an option">
        <mat-radio-button [value]="ConnectorPlacementType.Offbeat">Offbeat</mat-radio-button>
        <mat-radio-button [value]="ConnectorPlacementType.Straight">Straight</mat-radio-button>
    </mat-radio-group>
</p>
<div class="sample">
    <org-diagram 
        [items]="items"
        [annotations]="annotations"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=0
        [arrowsDirection]=GroupByType.Parents
        [hasSelectorCheckbox]=Enabled.True
        [centerOnCursor]=true>
    </org-diagram>
</div>
