<h1>Nodes Order in Family Chart</h1>
<button mat-raised-button (click)="onClick($event)">Swap Roger &amp; Bill</button>&nbsp;
<div class="sample">
    <fam-diagram 
        [items]="items"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=2
        [linesWidth]=1
        [arrowsDirection]=GroupByType.Parents
        [showExtraArrows]=true
        [linesColor]="'black'"
        [normalLevelShift]=20
        [dotLevelShift]=20
        [lineLevelShift]=20
        [normalItemsInterval]=10
        [dotItemsInterval]=30
        [lineItemsInterval]=30
        [hasSelectorCheckbox]=Enabled.True
        [centerOnCursor]=true
    ></fam-diagram>
</div>