
mat-card {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  padding: 14px;
}

mat-card-title-group {
  display:flex;
  padding: 0;
}

mat-card-content {
  padding: 0;
  flex-grow: 1;
  overflow: hidden;
}

mat-card-footer {
  margin: -14px;
}


.highlight-frame {
  background-color: gray;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

.cursor-badge {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 45px;
  left: 195px;
  z-index: 1000;
}