<h1>Labels & Item Template</h1>
<div class="sample">
    <org-diagram 
        [items]="items"
        [pageFitMode]=PageFitMode.None
        [hasButtons]=Enabled.True
        [cursorItem]="0"
        [buttonsPanelSize]=40
        [defaultTemplateName]="'contactTemplate'"
        [hasSelectorCheckbox]=Enabled.True
        [padding]="{ left: 10, top: 20, right: 10, bottom: 10 }"
        [templates]="[
            {
                name: 'contactTemplate',
                itemSize: { width: 220, height: 180 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: -18 },
                itemTemplate: contactTemplate,
                cursorTemplate: contactCursorTemplate,
                highlightTemplate: contactHighlightTemplate,
                cursorPadding: { left: 0, top: 0, right: 0, bottom: 0 }
            }
        ]"
        [centerOnCursor]="true">
    </org-diagram>
</div>
<ng-template #contactTemplate let-itemConfig="context" let-isCursor="isCursor">
    <mat-card class="example-card" [ngStyle]="{height:150}">
        <mat-card-title-group>
            <mat-card-title>{{itemConfig.title}}</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image [src]="itemConfig.image" [alt]="itemConfig.title" >
        </mat-card-title-group>
        <mat-card-content>
            {{itemConfig.description}}
        </mat-card-content>
        <ng-container *ngIf="isCursor">
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </mat-card-footer>
        </ng-container>
    </mat-card>
    <div class="contact-label">{{itemConfig.label}}</div>
</ng-template>
<ng-template #contactCursorTemplate let-itemConfig="context">
</ng-template>
<ng-template #contactHighlightTemplate let-itemConfig="context">
    <div class="highlight-frame"></div>
</ng-template>