<h1>Labels</h1>
<div class="sample">
    <org-diagram 
        [pageFitMode]="PageFitMode.FitToPage"
        [orientationType]="OrientationType.Left"
        [verticalAlignment]="VerticalAlignmentType.Middle"
        [horizontalAlignment]="HorizontalAlignmentType.Left"
        [childrenPlacementType]="ChildrenPlacementType.Horizontal"
        [leavesPlacementType]="ChildrenPlacementType.Horizontal"
        [maximumColumnsInMatrix]="6"
        [minimalVisibility]="Visibility.Dot"
        [selectionPathMode]="SelectionPathMode.FullStack"

        [normalLevelShift]="30"
        [dotLevelShift]="100"
        [lineLevelShift]="10"
        [normalItemsInterval]="10"
        [dotItemsInterval]="7"
        [lineItemsInterval]="5"
        [cousinsIntervalMultiplier]="0"

        [arrowsDirection]="GroupByType.Children"
        [showExtraArrows]="false"
        [extraArrowsMinimumSpace]="30"
        [connectorType]="ConnectorType.Curved"
        [elbowType]="ElbowType.None"
        [bevelSize]="4"
        [elbowDotSize]="4"
        [linesType]="LineType.Solid"
        [linesColor]="'#C0C0C0'"
        [linesWidth]="1"

        [showLabels]="Enabled.True"
        [labelSize]="{ width: 100, height: 10}"
        [labelOrientation]="TextOrientationType.Horizontal"
        [labelPlacement]="PlacementType.Right"
        [labelOffset]="4"
        [labelFontSize]="'10px'"
        [labelFontFamily]="'Arial'"
        [labelColor]="'#000000'"
        [labelFontWeight]="'normal'"
        [labelFontStyle]="'normal'"

        [cursorItem]="0"
        [highlightItem]="0"
        [hasSelectorCheckbox]="Enabled.True"

        [items]="items"
        [centerOnCursor]=true
    >
    </org-diagram>
</div>