<style>
.label-annotation {
    position: absolute;
    overflow: visible;
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    width: 100%;
    text-align: center;
}    
</style>
<h1>Labels over matrix shaped nodes connection lines</h1>
<div class="sample">
    <fam-diagram 
        [items]="items"
        [annotations]="annotations"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=1
        [linesWidth]=1
        [enableMatrixLayout]=true
        [groupByType]=GroupByType.Parents
        [arrowsDirection]=GroupByType.Parents
        [showExtraArrows]=true
        [linesColor]="'black'"
        [normalLevelShift]=20
        [dotLevelShift]=20
        [lineLevelShift]=20
        [normalItemsInterval]=30
        [dotItemsInterval]=30
        [lineItemsInterval]=30
        [hasSelectorCheckbox]=Enabled.True
        [centerOnCursor]=true
        [defaultLabelAnnotationTemplate]="'LabelAnnotationTemplate'"
        [templates]="[
            {
                name: 'LabelAnnotationTemplate',
                itemSize: { width: 60, height: 20 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 2, top: 2, right: 2, bottom: 2 },
                itemTemplate: labelAnnotationTemplate
            }
        ]"
    ></fam-diagram>
</div>
<ng-template #labelAnnotationTemplate let-itemConfig="context" let-isCursor="isCursor">
    <div class="label-annotation">{{itemConfig.title}}</div>
</ng-template>