<h1>Matrix Nodes Layout in Family Chart</h1>
<div class="sample">
    <fam-diagram 
        [items]="items"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=1
        [linesWidth]=1
        [arrowsDirection]=GroupByType.Children
        [showExtraArrows]=true
        [linesColor]="'black'"
        [normalLevelShift]=20
        [dotLevelShift]=20
        [lineLevelShift]=20
        [normalItemsInterval]=20
        [dotItemsInterval]=30
        [lineItemsInterval]=30
        [hasSelectorCheckbox]=Enabled.False
        [enableMatrixLayout]=true
        [minimumMatrixSize]=3
        [centerOnCursor]=true
    ></fam-diagram>
</div>