<h1>Multiple Root Items in Chart</h1>
<p>
    <span>Set chart orientation to:&nbsp;</span>
    <mat-radio-group [(ngModel)]="orientationType" aria-label="Select an option">
        <mat-radio-button [value]="OrientationType.Left">Left</mat-radio-button>
        <mat-radio-button [value]="OrientationType.Top">Top</mat-radio-button>
        <mat-radio-button [value]="OrientationType.Right">Right</mat-radio-button>
        <mat-radio-button [value]="OrientationType.Bottom">Bottom</mat-radio-button>
    </mat-radio-group>
</p>
<div class="sample">
    <org-diagram 
        [items]="items"
        [pageFitMode]=PageFitMode.None
        [orientationType]="orientationType"
        [cursorItem]=0
        [hasSelectorCheckbox]=Enabled.True
        [centerOnCursor]=true>
    </org-diagram>
</div>