.sample {
  width: 100%;
  height: 640px;
  flex-direction: column;
  align-items: center;
  border: 1px dotted silver;
}

.sample-480 {
  width: 100%;
  height: 480px;
  flex-direction: column;
  align-items: center;
  border: 1px dotted silver;
}

.sample-no-border {
  width: 100%;
  height: 640px;
  flex-direction: column;
  align-items: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin: 16px;
}