<h1>Selecting Highlight Item</h1>
<p>
    <span>Set highlight to: &nbsp;</span>
    <button mat-raised-button (click)="update(0)">James Smith</button>&nbsp;
    <button mat-raised-button (click)="update(1)">Ted Lucas</button>&nbsp;
    <button mat-raised-button (click)="update(2)">Fritz Stuger</button>&nbsp;
    <button mat-raised-button (click)="update(null)">Unselect</button>
<p>
<ng-container *ngIf="title">
  <p><span>User set highlight to:</span>&nbsp;{{title}}</p>
</ng-container>
<div class="sample">
    <org-diagram 
      [items]="items" 
      [highlightItem]="highlightItem"
      [pageFitMode]=PageFitMode.FitToPage
      [hasSelectorCheckbox]=Enabled.True
      [centerOnCursor]=true
      (onHighlightChanged)="onHighlightChanged($event)">
    </org-diagram>
</div>
