<h1>Selection Checkbox Inside Item Template</h1>
<div class="sample">
    <org-diagram 
        [items]="items"
        [cursorItem]="cursorItem"
        [selectedItems]="selectedItems"
        [pageFitMode]=PageFitMode.None
        [hasButtons]=Enabled.True
        [buttonsPanelSize]=40
        [defaultTemplateName]="'contactTemplate'"
        [hasSelectorCheckbox]=Enabled.False
        [padding]="{ left: 10, top: 20, right: 10, bottom: 10 }"
        [templates]="[
            {
                name: 'contactTemplate',
                itemSize: { width: 220, height: 180 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: -18 },
                itemTemplate: contactTemplate,
                cursorTemplate: contactCursorTemplate,
                highlightTemplate: contactHighlightTemplate,
                cursorPadding: { left: 0, top: 0, right: 0, bottom: 0 }
            }
        ]"
        [centerOnCursor]="true"
        (onCursorChanged)="onCursorChanged($event)">
    </org-diagram>
</div>
<ng-template #contactTemplate let-itemConfig="context" let-isCursor="isCursor" let-isSelected="isSelected">
    <mat-card appearance="outlined" class="example-card">
        <mat-card-title-group>
            <mat-card-title>{{itemConfig.title}}</mat-card-title>
            <mat-card-subtitle>Small</mat-card-subtitle>
            <img mat-card-sm-image [src]="itemConfig.image" [alt]="itemConfig.title" >
        </mat-card-title-group>
        <mat-card-content>
            {{itemConfig.description}}
            <section>
                <mat-checkbox (click)="$event.stopPropagation()" (change)="onChange($event, itemConfig)" [checked]="isSelected">Selected</mat-checkbox>
            </section>
        </mat-card-content>
        <mat-card-footer>
            <ng-container *ngIf="isCursor">
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </ng-container>
        </mat-card-footer>
    </mat-card>
</ng-template>
<ng-template #contactCursorTemplate let-itemConfig="context">
</ng-template>
<ng-template #contactHighlightTemplate let-itemConfig="context">
    <div class="highlight-frame"></div>
</ng-template>