<style>
.show-frame-sample {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 480px;
  border-width: 1px;
  border-style: dotted; 
}
</style>
<h1>Show Frame</h1>
<div class="show-frame-sample">
    <org-diagram 
        [items]="items"
        [selectedItems]="selectedItems"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=0
        [showFrame]="true"
        [hasSelectorCheckbox]=Enabled.True
        [frameInnerPadding]="{ left: 4, top: 4, right: 4, bottom: 4}"
        [frameOuterPadding]="{ left: 4, top: 4, right: 4, bottom: 4}"
        [templates]="[
            {
                name: 'MarkerTemplate',
                minimizedItemSize: { width: 8, height: 8 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: 4 }
            }
        ]"
        [defaultTemplateName]="'MarkerTemplate'"
        [centerOnCursor]=true>
    </org-diagram>
</div>