<h1>Zoom using item template</h1>
<p>
    <span>Select template size: &nbsp;</span>
    <mat-radio-group name="templateName" [(ngModel)]="templateName" (change)="onChange($event)" aria-label="Select an option">
        <mat-radio-button *ngFor="let item of scales" [value]="item.defaultTemplateName">{{item.caption}}</mat-radio-button>
    </mat-radio-group>
</p>
<div class="sample">
    <org-diagram 
        [items]="items"
        [defaultTemplateName] = "defaultTemplateName"
        [normalLevelShift] = "normalLevelShift"
        [normalItemsInterval] = "normalItemsInterval"
        [pageFitMode]=PageFitMode.None
        [cursorItem]=0
        [hasSelectorCheckbox]=Enabled.False
        [templates]="[
            {
                name: 'xs',
                itemSize: { width: 90, height: 90 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: -18 },
                itemTemplate: xs,
                cursorTemplate: contactCursorTemplate,
                highlightTemplate: contactHighlightTemplate,
                cursorPadding: { left: 0, top: 0, right: 0, bottom: 0 }
            },
            {
                name: 'sm',
                itemSize: { width: 140, height: 140 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: -18 },
                itemTemplate: sm,
                cursorTemplate: contactCursorTemplate,
                highlightTemplate: contactHighlightTemplate,
                cursorPadding: { left: 0, top: 0, right: 0, bottom: 0 }
            },
            {
                name: 'md',
                itemSize: { width: 180, height: 180 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: -18 },
                itemTemplate: lg,
                cursorTemplate: contactCursorTemplate,
                highlightTemplate: contactHighlightTemplate,
                cursorPadding: { left: 0, top: 0, right: 0, bottom: 0 }
            },
            {
                name: 'lg',
                itemSize: { width: 200, height: 200 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: -18 },
                itemTemplate: lg,
                cursorTemplate: contactCursorTemplate,
                highlightTemplate: contactHighlightTemplate,
                cursorPadding: { left: 0, top: 0, right: 0, bottom: 0 }
            },
            {
                name: 'xl',
                itemSize: { width: 240, height: 240 },
                minimizedItemSize: { width: 3, height: 3 },
                highlightPadding: { left: 4, top: 4, right: 4, bottom: -18 },
                itemTemplate: xl,
                cursorTemplate: contactCursorTemplate,
                highlightTemplate: contactHighlightTemplate,
                cursorPadding: { left: 0, top: 0, right: 0, bottom: 0 }
            }
        ]"
        [centerOnCursor]=true>
    </org-diagram>
</div>
<ng-template #xs let-itemConfig="context" let-isCursor="isCursor">
    <mat-card class="example-card">
        <mat-card-content>
            <mat-card-subtitle>{{itemConfig.title}}</mat-card-subtitle>
        </mat-card-content>
        <ng-container *ngIf="isCursor">
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </mat-card-footer>
        </ng-container>
    </mat-card>
</ng-template>
<ng-template #sm let-itemConfig="context" let-isCursor="isCursor">
    <mat-card class="example-card">
        <mat-card-content>
            <mat-card-title>{{itemConfig.title}}</mat-card-title>
            <mat-card-subtitle>{{itemConfig.context.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{itemConfig.context.phone}}</mat-card-subtitle>
        </mat-card-content>
        <ng-container *ngIf="isCursor">
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </mat-card-footer>
        </ng-container>
    </mat-card>
</ng-template>
<ng-template #md let-itemConfig="context" let-isCursor="isCursor">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>{{itemConfig.title}}</mat-card-title>
            <img mat-card-sm-image [src]="itemConfig.image" [alt]="itemConfig.title" >
        </mat-card-title-group>
        <mat-card-content>
            <mat-card-subtitle>{{itemConfig.context.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{itemConfig.context.phone}}</mat-card-subtitle>
        </mat-card-content>
        <ng-container *ngIf="isCursor">
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </mat-card-footer>
        </ng-container>
    </mat-card>
</ng-template>
<ng-template #lg let-itemConfig="context" let-isCursor="isCursor">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>{{itemConfig.title}}</mat-card-title>
            <img mat-card-sm-image [src]="itemConfig.image" [alt]="itemConfig.title" >
        </mat-card-title-group>
        <mat-card-content>
            <mat-card-subtitle>{{itemConfig.context.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{itemConfig.context.phone}}</mat-card-subtitle>
        </mat-card-content>
        <ng-container *ngIf="isCursor">
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </mat-card-footer>
        </ng-container>
    </mat-card>
</ng-template>
<ng-template #xl let-itemConfig="context" let-isCursor="isCursor">
    <mat-card class="example-card">
        <mat-card-title-group>
            <mat-card-title>{{itemConfig.title}}</mat-card-title>
            <mat-card-subtitle>{{itemConfig.context.email}}</mat-card-subtitle>
            <mat-card-subtitle>{{itemConfig.context.phone}}</mat-card-subtitle>
            <img mat-card-sm-image [src]="itemConfig.image" [alt]="itemConfig.title" >
        </mat-card-title-group>
        <mat-card-content>
            {{itemConfig.description}}
        </mat-card-content>
        <ng-container *ngIf="isCursor">
            <mat-card-footer>
                <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            </mat-card-footer>
        </ng-container>
    </mat-card>
</ng-template>
<ng-template #contactCursorTemplate let-itemConfig="context">
</ng-template>
<ng-template #contactHighlightTemplate let-itemConfig="context">
    <div class="highlight-frame"></div>
</ng-template>